.entry-list {
    display: grid;
    min-width: 300px;
    grid-template-columns: repeat(3, 300px);
    gap: 5px 10px;
}

@media (max-width: 900px) {
    .entry-list {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 600px) {
    .entry-list {
        grid-template-columns: repeat(1, 300px);
    }
}
